In [ ]:
# O objetivo aqui vai ser arrumar os dados para backtest

In [2]:
import pandas as pd
import numpy as np

In [215]:
ta_ati = pd.read_excel('../../data/economatica_1/total_assets_mensal_ativas.xlsx',
                            skiprows = [1,2],
                            header=1,
                            index_col = 0,
                            na_values='-')
ta_can = pd.read_excel('../../data/economatica_1/total_assets_mensal_canceladas.xlsx',
                            skiprows = [1,2],
                            header=1,
                            index_col = 0,
                            na_values='-')
# ta.can = ta_can(["Jan-86", "Feb-86"]) # assim não precisaria de inplace
ta_can.drop(["Jan-86", "Feb-86"], inplace=True) # para ficar igual a index de ta_ati

# tudo sobre merging de dataframes
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
# checar se dois index são iguais
# https://www.geeksforgeeks.org/python-pandas-index-equals/
# ta_ati.index.equals(ta_can.index) # retorna falso pois cancelados começa em janeiro de 86 e ativos começa em jan
# tot_ass.loc["Jan-86"]
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
tot_ass = pd.concat([ta_ati,ta_can],axis=1,sort=False)
# len(ta_ati.columns)
# ta_can.shape

In [216]:
tickers = tot_ass.columns.str.extract('(.*)$')[0]
tot_ass.columns = tickers
# https://www.debuggex.com/cheatsheet/regex/python
# https://www.dataquest.io/blog/regex-cheatsheet/
on = tickers[tickers.str.contains('.\D3$')]
pn = tickers[tickers.str.contains('.\D4$')]
sto_tick = pd.concat([on, pn], ignore_index=True)
tot_ass = tot_ass[sto_tick]
tot_ass = tot_ass[tot_ass.index.str.contains("Mar|Jun|Sep|Dec")]
tot_ass.columns.name = "ticker"

In [218]:
# queremos remover os vizinhos de NAs coluna a coluna
# estou com o problema de contar o numero máximo de consecutive non NA
# https://stackoverflow.com/questions/41968892/counting-consecutive-numbers-in-a-list
# https://stackoverflow.com/questions/44337512/delete-non-consecutive-values-from-a-dataframe-column
# https://stackoverflow.com/questions/52671308/counting-the-number-of-consecutive-values-that-meets-a-condition-pandas-datafra
# http://blog.adeel.io/2016/10/30/removing-neighboring-consecutive-only-duplicates-in-a-pandas-dataframe/
# talvez a melhor maneira de lidar com um shift seja direto no df, sem passar por series
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.shift.html
# True & False # dá False
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.shift.html
sh_plus = tot_ass.shift(periods=1)
sh_minus = tot_ass.shift(periods=-1)
tot_ass[sh_plus.isnull()&sh_minus.isnull()] = np.NAN

In [222]:
tot_ass.to_excel("output.xlsx")

In [195]:
True & False

NameError: name 'T' is not defined

In [178]:
serie
s_plus = serie.shift()
s_minus = serie.shift(periods=-1)

# periods=1

In [183]:
s_plus.values == 2

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [209]:
# criar df com dictionary e um index e usar expressões lógicas
df1 = pd.DataFrame({'A': [True, False, True, False],
                    'B': [False, True, False, True],
                    'C': [False, False, True, False],
                    'D': [False, False, True, False]},
                    index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': [True, False, False, False],
                    'B': [True, False, False, False],
                    'C': [True, True, True, True],
                    'D': [False, False, False, False]},
                    index=[0, 1, 2, 3])
df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
df1&df2
df1|df2
df3[df1&df2] = np.NAN

In [212]:
df3.isnull()

       A      B      C      D
0   True  False  False  False
1  False  False  False  False
2  False  False   True  False
3  False  False  False  False

In [203]:
df1&df2

       A      B      C      D
0   True  False  False  False
1  False  False  False  False
2  False  False   True  False
3  False  False  False  False

In [200]:
df1|df2

       A      B     C      D
0   True   True  True  False
1  False   True  True  False
2   True  False  True   True
3  False   True  True  False

In [208]:
ttt = np.NAN