In [43]:
import pandas as pd
import numpy as np

In [17]:
f = open('../../data/b3/NEG_BMF_20191126.TXT','r')

In [10]:
# A primeira tarefa é ler o número de linhas do arquivo
# https://appdividend.com/2019/02/03/how-to-convert-python-string-to-int-and-int-to-string/
f.seek(45)
nlines = int(f.read(9))-2 # desconta cabeçalho e rodapé

In [27]:
# O segundo passo é criar um sample bem menor, para que possamos realizar alguns ensaios
of = open('output.txt','w')

start = 55
linesize = 238

for count in range(0,nlines-1,100): # o -1 é para descartar o rodapé
    f.seek(start+count*10*linesize+0) # + 0 pois vai ler a linha toda, apenas para não perder o padrão da fórmula
    line = f.readline()
    of.write(line)

of.close()
# depois de rodar essa celula, copiar manualmente o output.txt, pra pasta data/samples, mudar o nome.

In [122]:
s = open('../../data/samples/sample2.txt','r')

In [129]:
# O terceiro passo é iterar o arquivo (no nosso caso no sample s) e ir criando o index.
# Sempre lembrar da diferença entre break e continue https://www.programiz.com/python-programming/break-continue
s.seek(0)
data = []

ticker = ''
nstart = 0
nend = 0
for nline in range(1000):
    line = s.readline() # aqui já atualiza a posição do seek
    ticker_ = line[11:61]
    if ticker_ != ticker:
        data.append([ticker, nstart, nend])
        ticker = ticker_
        nstart = nline
    nend = nline
data.pop(0) # remove o primeiro item que é garbage

['', 0, 0]

In [136]:
# agora transforma num dataframe e salva esse index
index_df = pd.DataFrame(data, columns=['Ticker', 'Linicial', 'Lfinal'])
index_df.to_csv('index.txt', header=None, index=None, sep=' ', mode='w')

In [137]:
index_df

                                               Ticker  Linicial  Lfinal
0   DOLF20                                        ...         0       0
1   INDZ19                                        ...         1       6
2   WINZ19                                        ...         7     574
3   DI1G20                                        ...       575     575
4   WDOZ19                                        ...       576     692
5   DOLZ19                                        ...       693     706
6   CCMH20                                        ...       707     707
7   DI1F27                                        ...       708     709
8   DI1F22                                        ...       710     711
9   DI1F20                                        ...       712     712
10  DI1F21                                        ...       713     715
11  DI1F25                                        ...       716     717
12  DI1F23                                        ...       718     719
13  DI1N20                                        ...       720     720
14  BGIZ19                                        ...       721     721
15  CCMF20                                        ...       722     722
16  DI1F21                                        ...       723     729
17  DI1F22                                        ...       730     736
18  DI1F23                                        ...       737     747
19  DI1F24                                        ...       748     748
20  DI1F25                                        ...       749     754
21  DI1F27                                        ...       755     758
22  DI1F29                                        ...       759     759
23  DI1J20                                        ...       760     760
24  DI1J21                                        ...       761     761
25  DI1N20                                        ...       762     768
26  DI1N21                                        ...       769     770
27  DI1N22                                        ...       771     771
28  DI1N23                                        ...       772     772
29  DI1V20                                        ...       773     773
30  DOLZ19                                        ...       774     822
31  INDZ19                                        ...       823     842
32  WDOF20                                        ...       843     843

In [93]:
line[11:61]

'WINZ19                                            '

In [133]:
ticker = ''
ticker_ = line[11:61]
a = ''
b = 'WINZ19                                            '
ticker == a # true

False

True

In [68]:
# Teste de como criar um dataframe e escrever ele num arquivo
# https://stackoverflow.com/questions/31247198/python-pandas-write-content-of-dataframe-into-text-file
# esse df usa dictionaries para iniciar
df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

#of2 = open('output2.txt','w')
#of2.close()
# Python raw string is created by prefixing a string literal with ‘r’ or ‘R’. Python raw string treats backslash (\)
# as a literal character. This is useful when we want to have a string that contains backslash and don’t want it to
# be treated as an escape character.
# r'c:\data\np.txt' # vai gerar 'c:\\data\\np.txt'
# np.savetxt('output3.txt', df3.values) na verdade, por ser função do numpy, só serve para array de numeros. Não funciona aqui.

# df3.to_csv()
# output: ',A,B,C,D\n0,A0,B0,C0,D0\n1,A1,B1,C1,D1\n2,A2,B2,C2,D2\n3,A3,B3,C3,D3\n'
# df3.to_csv(header=None)
# '0,A0,B0,C0,D0\n1,A1,B1,C1,D1\n2,A2,B2,C2,D2\n3,A3,B3,C3,D3\n'
# df3.to_csv(header=None, index=None)
# 'A0,B0,C0,D0\nA1,B1,C1,D1\nA2,B2,C2,D2\nA3,B3,C3,D3\n'
# df3.to_csv(header=None, index=None, sep=' ')
#'A0 B0 C0 D0\nA1 B1 C1 D1\nA2 B2 C2 D2\nA3 B3 C3 D3\n'
df3.to_csv('output2.txt', header=None, index=None, sep=' ', mode='a')
# tinha um bug interessante, o of2 = open('output2.txt','w') zerava o arquivo, então parecia que o append não estava funcionando
# preciso refazer o raciocínio dessa cell usando listas

In [70]:
# Essa estrutura pode ser usada em loop
data = []
data.append(['A0', 'A1', 'A2', 'A3'])
data.append(['B0', 'B1', 'B2', 'B3'])
data.append(['C0', 'C1', 'C2', 'C3'])
data.append(['D0', 'D1', 'D2', 'D3'])
# esse df usa list para iniciar
df4 = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])

# Outra maneira seria
# data = [['A0', 'A1', 'A2', 'A3'],
#         ['B0', 'B1', 'B2', 'B3'],
#         ['C0', 'C1', 'C2', 'C3'],
#         ['D0', 'D1', 'D2', 'D3']]
# df4 = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])

In [69]:
# Teste de como criar um empty dataframe e depois ir dando append nele
# https://stackoverflow.com/questions/13784192/creating-an-empty-pandas-dataframe-then-filling-it
# o link acima é importante, é bem melhor e rápido criar uma lista e ir adicionando. Criar o dataframe só no final.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

In [38]:
s.seek(0)
s.read(5)

'2019-'

In [26]:
#for i in range(1,27,6):
#    print(i, end=', ')
for i in range(0,10,1):
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [20]:
nlines

2600671