In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm, stats
import matplotlib.pyplot as plt
import operator
#import pandas_datareader.data as web
import datetime

### Base de dados atualizada até 03/05/2019

In [28]:
close = pd.read_excel('monthly_close_clean_v3.xlsx', index_col='Date')

In [29]:
close.tail()

,IBOV,QVUM3B,QVQP3B,APPA3,ABCB4,ABYA3,EALT4,AVIL3,ADHM3,AELP3,...,WHRL4,WHMT3,WISA3,WSON33,WIZS3,WLMM4,WWOW3,ILMD4,OPZI3B,ZIVI4
Date,,,,,,,,,,,,,,,,,,,,,
2018-12-31,87887.0,NaN,NaN,NaN,16.236743,NaN,4.29,NaN,1.50,NaN,...,5.10,NaN,NaN,40.000000,7.010000,5.070000,NaN,NaN,NaN,NaN
2019-01-31,97394.0,NaN,NaN,NaN,19.950000,NaN,5.33,NaN,1.41,NaN,...,4.75,NaN,NaN,41.500000,8.050000,6.200000,NaN,NaN,NaN,NaN
2019-02-28,NaN,NaN,0.0,NaN,18.280000,NaN,5.15,NaN,1.67,NaN,...,NaN,NaN,NaN,40.262659,7.858426,6.142275,NaN,NaN,NaN,NaN
2019-03-29,NaN,NaN,0.0,NaN,19.050000,NaN,5.21,NaN,1.60,NaN,...,NaN,NaN,NaN,35.044301,7.430102,6.449869,NaN,NaN,NaN,NaN
2019-04-30,NaN,NaN,0.0,NaN,19.450000,NaN,4.77,NaN,1.52,NaN,...,NaN,NaN,NaN,38.500000,8.190000,5.171430,NaN,NaN,NaN,NaN

In [48]:
close_daily = pd.read_excel('matrix_fix.xlsx', index_col='Data')

In [50]:
close_monthly = close_daily.resample('M').last()
close_monthly.tail()

,Fechamento,QVQP3B,ABCB4,EALT4,ADHM3,TIET11,AFLT3,CANT4B,ALEF3B,BRGE12,...,VLID3,VVAR3,VIVR3,VULC3,WEGE3,MWET4,WHRL3,WSON33,WIZS3,WLMM4
Data,,,,,,,,,,,,,,,,,,,,,
2019-01-31,25.562134,NaN,19.95,5.33,1.41,11.438203,4.50,NaN,NaN,NaN,...,20.89,6.00,3.90,8.18,18.710226,4.00,4.41,39.232222,7.036744,5.959641
2019-02-28,27.041100,NaN,18.28,5.15,1.67,11.428384,4.85,NaN,NaN,3.22,...,19.69,4.58,3.70,7.96,18.373079,4.09,4.64,40.262659,7.858426,6.142275
2019-03-31,28.040401,NaN,19.05,5.21,1.60,10.878565,5.34,NaN,NaN,3.00,...,19.28,4.22,3.70,6.75,18.000000,4.10,4.40,35.044301,7.430102,6.449869
2019-04-30,27.110000,NaN,19.45,4.77,1.52,10.800000,5.02,NaN,NaN,3.01,...,17.75,4.10,2.25,6.18,18.580000,5.00,4.48,38.500000,8.190000,5.171430
2019-05-31,26.730000,NaN,19.29,4.65,1.47,10.800000,5.00,NaN,NaN,2.90,...,17.69,4.14,2.19,6.20,18.770000,5.00,4.50,39.490000,8.280000,5.500000

### Caso queira filtrar pelo Ibovespa:

In [43]:
def planilha_excel_ibov(aba):
    '''
    usar sheet_name ou sheetname
    '''
    df = pd.read_excel('PortfolioCompositionPerQuarter_IBOVESPA_1990_2019.xls', sheetname=aba, skiprows=1)
    df.columns = ['codigo', 'acao', 'tipo', 'qtde', 'part']
    return df.codigo

In [64]:
planilha_excel_ibov('Mai 2019').head()

0    ABEV3
1    AZUL4
2    B3SA3
3    BBAS3
4    BBDC3
Name: codigo, dtype: object

In [5]:
def retorno_ibov_mom(data, mes, mom):
    '''
    retorno_ibov_mom(close2, '2017-12', 6)
    '''
    retorno = data.pct_change(mom)
    rank = retorno[mes].T
    rank = rank.reset_index(drop=False)
    rank.columns = ['Acao', mes]
    rank = rank.sort_values(mes, ascending=False)
    return rank

In [51]:
retorno_ibov_mom(close_monthly, '2019-04', 6).head(15)

       Acao     2019-04
152   GSHP3  220.115930
186   ITEC3    2.805703
74    CEED3    2.124024
69    CASN3    1.500000
62   BPAC11    1.147355
178   INEP4    1.139159
141   BAUH4    1.117687
311   SPRI5    1.060606
189   JBSS3    0.928780
32    BPAN4    0.883333
292   SNSY5    0.879762
65    CAMB4    0.812745
337   TOTS3    0.780146
18    APER3    0.738685
340   TRIS3    0.724021

In [ ]:
def carteira_momentum(data, mes, mom):
    '''
    retorno_ibov_mom(close2, '2017-12', 6)
    '''
    retorno = data.pct_change(mom)
    rank = retorno[mes].T
    rank = rank.reset_index(drop=False)
    rank.columns = ['Acao', mes]
    rank = rank.sort_values(mes, ascending=False)
    return rank

In [ ]:
def portfolio_return(data, mes_ref, mes_analise, qtde_acoes):
    '''
    mes_ref: '2017-12'
    mes_analise: '2018-01'
    '''
    df = retorno_ibov_mom(data, mes_ref, 6).head(qtde_acoes)
    df2 = retorno_ibov_mom(data, mes_analise, 1)
    df3 = pd.merge(df, df2, on='Acao')

    df3.index.name = 'Acao'
    
    df4 = df3.append(df3.agg(['mean']), sort=True)
    return df4

In [98]:
def carteira_mes(aba, tipo_carteira, mes, mom):#, ano_anterior, ano_corrente):
    '''
    Objetivo é selecionar a carteira do mês para identificar quais ações mais subiram
    Pode ser feita análise baseada na carteira do Ibovespa, IBrX, SmallCaps ou todas ações do Fundamentus
    Parâmetros:
    -----------
    aba: 'Jan 2019'
    tipo_carteira: ibov, ibrx, small, fundamentus
    '''    
    if tipo_carteira == 'ibov':

        df = pd.read_excel('PortfolioCompositionPerQuarter_IBOVESPA_1990_2019.xls', sheetname=aba, skiprows=1)
        df.columns = ['codigo', 'acao', 'tipo', 'qtde', 'part']
        df_cod = df.codigo
        df_cod_filter = df_cod.values.tolist()
        carteira1 = close_daily.filter(df_cod_filter, axis=1)
        carteira_mes = carteira1.resample('M').last()
        
        retorno = carteira_mes.pct_change(mom)
        rank = retorno[mes].T
        rank = rank.reset_index(drop=False)
        rank.columns = ['Acao', mes]
        rank = rank.sort_values(mes, ascending=False)
    return rank

In [101]:
def carteira_mes(aba, tipo_carteira, mes, mom):#, ano_anterior, ano_corrente):
    '''
    Objetivo é selecionar a carteira do mês para identificar quais ações mais subiram
    Pode ser feita análise baseada na carteira do Ibovespa, IBrX, SmallCaps ou todas ações do Fundamentus
    Parâmetros:
    -----------
    aba: 'Jan 2019'
    tipo_carteira: ibov, ibrx, small, fundamentus
    '''    
    if tipo_carteira == 'ibov':
        df = pd.read_excel('PortfolioCompositionPerQuarter_IBOVESPA_1990_2019.xls', sheetname=aba, skiprows=1)
        
    elif tipo_carteira == 'ibrx':
        df = pd.read_excel('PortfoliocompositionPerQuarter_IBrX_100_1995_2017.xls', sheetname=aba, skiprows=1)
        
    elif tipo_carteira == 'small':
        df = pd.read_excel('PortfolioCompositionPerQuarter_SMLL_2006_2018.xls', sheetname=aba, skiprows=1)
    
    elif tipo_carteira == 'fundamentus':
        df = pd.read_excel('Fundamentus.xlsx', sheetname=aba, skiprows=1)
    

    df.columns = ['codigo', 'acao', 'tipo', 'qtde', 'part']
    df_cod = df.codigo
    df_cod_filter = df_cod.values.tolist()
    carteira1 = close_daily.filter(df_cod_filter, axis=1)
    carteira_mes = carteira1.resample('M').last()
        
    retorno = carteira_mes.pct_change(mom)
    rank = retorno[mes].T
    rank = rank.reset_index(drop=False)
    rank.columns = ['Acao', mes]
    rank = rank.sort_values(mes, ascending=False)
    return rank

In [102]:
carteira_mes('Mai 2019', 'ibov', '2019-04', 6).head(10)

     Acao   2019-04
35  JBSS3  0.928780
52  SBSP3  0.723567
44  NATU3  0.616092
16  CSNA3  0.519331
15  CSAN3  0.453333
20  EGIE3  0.453301
21  ELET3  0.427197
8   BRFS3  0.417808
53  SMLS3  0.412617
42  MRVE3  0.410245

In [103]:
carteira_mes('Mai 2019', 'ibrx', '2019-04', 6).head(10)

      Acao   2019-04
47   JBSS3  0.928780
83   TOTS3  0.780146
72   SBSP3  0.723567
21   CPLE6  0.643968
63   NATU3  0.616092
73  SAPR11  0.579893
60   MOVI3  0.547579
59   BEEF3  0.530055
77   CSNA3  0.519331
76   SEER3  0.479795

In [89]:
df = pd.read_excel('PortfolioCompositionPerQuarter_IBOVESPA_1990_2019.xls', sheetname='Mai 2019', skiprows=1)
df.columns = ['codigo', 'acao', 'tipo', 'qtde', 'part']
df_cod = df.codigo
df_cod.head()

0    ABEV3
1    AZUL4
2    B3SA3
3    BBAS3
4    BBDC3
Name: codigo, dtype: object

In [97]:
filtro_cod = df_cod.values.tolist()
carteira1 = close_daily.filter(filtro_cod, axis=1)
carteira1
carteira_mes = carteira1.resample('M').last()
carteira_mes

,ABEV3,AZUL4,B3SA3,BBAS3,BBDC4,BBSE3,BRAP4,BRDT3,BRFS3,BRKM5,...,SBSP3,SMLS3,TAEE11,TIMP3,UGPA3,USIM5,VALE3,VIVT4,VVAR3,WEGE3
Data,,,,,,,,,,,,,,,,,,,,,
2010-01-31,4.353520,NaN,8.764350,15.395705,9.469294,NaN,23.178723,NaN,20.165195,9.385750,...,7.948076,NaN,4.149763,5.757196,NaN,22.884935,32.933161,19.021559,3.048638,4.250223
2010-02-28,4.328270,NaN,8.151603,16.568493,9.426269,NaN,23.542943,NaN,19.696237,9.045995,...,7.694549,NaN,4.167421,6.045055,NaN,23.678526,33.970108,18.024277,2.521430,4.206054
2010-03-31,4.048567,NaN,8.320679,16.727398,9.930158,NaN,26.241754,NaN,21.393418,9.265420,...,8.132782,NaN,4.233641,5.757196,4.777449,28.184555,38.481500,17.617129,3.069268,4.537953
2010-04-30,4.315187,NaN,7.947493,16.805851,9.634659,NaN,23.925076,NaN,20.276852,8.897352,...,8.504770,NaN,4.260129,5.016985,NaN,25.959215,36.008153,16.635441,2.911106,4.239403
2010-05-31,4.320466,NaN,8.524468,14.772716,9.211828,NaN,22.377879,NaN,20.812804,7.637424,...,8.917524,NaN,3.132188,5.765420,NaN,21.235572,33.905982,17.070898,3.002794,4.060274
2010-06-30,4.575647,NaN,8.152005,14.016453,8.571080,NaN,19.831639,NaN,21.220370,8.869039,...,9.554490,NaN,2.957810,6.003933,NaN,22.258026,29.599922,17.662924,2.934028,4.002350
2010-07-31,4.787710,NaN,9.100730,17.365618,10.822116,NaN,22.329494,NaN,22.124698,9.350359,...,8.960838,NaN,3.189578,5.716073,NaN,22.891855,32.922708,18.553409,3.518541,4.398091
2010-08-31,4.898289,NaN,9.082049,16.303333,10.226029,NaN,22.135956,NaN,21.086064,10.957120,...,8.512414,NaN,3.532817,5.748971,NaN,20.370419,31.790248,19.722783,3.438314,4.099098
2010-09-30,5.164021,NaN,10.039922,18.536416,11.392873,NaN,24.494705,NaN,23.055887,12.160422,...,9.656404,NaN,3.667463,5.971034,NaN,21.004248,35.465657,20.305023,3.484158,4.475254
2010-10-31,5.767883,NaN,10.110875,19.096028,11.777403,NaN,26.351464,NaN,22.097837,12.344456,...,9.720101,NaN,3.751341,5.757196,NaN,19.869692,36.726541,20.408497,3.415392,5.314667
2010-11-30,5.940116,NaN,9.343037,19.054735,11.284655,NaN,25.944948,NaN,22.832044,12.875324,...,9.679335,NaN,3.607777,5.674950,NaN,17.501802,36.699133,20.206981,4.355197,5.459810
2010-12-31,6.579915,NaN,9.412390,18.339843,11.203768,NaN,26.507904,NaN,24.694834,14.418381,...,11.362740,NaN,3.495499,5.600929,NaN,18.114479,37.911931,21.174256,4.472100,5.287184
2011-01-31,5.756667,NaN,8.351435,17.370902,10.573598,NaN,27.976486,NaN,24.703867,14.843076,...,10.885179,NaN,3.551638,6.160199,NaN,18.369745,39.320908,20.585001,5.042860,4.816673
2011-02-28,5.677830,NaN,8.125877,17.551396,11.022039,NaN,26.422237,NaN,26.103903,14.354677,...,10.877175,NaN,3.564240,6.291792,NaN,17.963210,38.783586,20.757984,6.280653,4.901106
2011-03-31,5.968046,NaN,8.513850,17.586866,11.492336,NaN,26.189712,NaN,27.847174,15.317318,...,12.539300,NaN,4.009914,6.892186,NaN,18.810065,36.751409,21.767119,6.188965,5.273102
2011-04-30,6.487943,NaN,8.485111,17.253579,10.828517,NaN,25.493778,NaN,28.479449,16.209177,...,12.157785,NaN,5.006206,7.237746,NaN,15.381395,36.105272,23.004139,5.959744,4.831633
2011-05-31,6.327587,NaN,8.278929,16.790848,10.699061,NaN,25.368502,NaN,26.447138,18.143434,...,12.883463,NaN,5.006206,7.414687,NaN,14.428986,35.031664,25.067689,6.074354,4.414690
2011-06-30,6.616883,NaN,7.616150,16.922015,11.000351,NaN,24.804757,NaN,24.241663,16.373163,...,12.400567,NaN,5.153447,7.498945,NaN,13.047994,34.501832,25.184179,5.501302,4.384909
2011-07-31,5.964668,NaN,6.687171,15.888563,10.241603,NaN,25.005200,NaN,26.986003,13.508411,...,12.352544,NaN,4.820681,7.667461,NaN,10.619353,34.982864,27.070219,5.501302,4.159592
2011-08-31,7.065670,NaN,6.975922,16.285106,9.777694,NaN,22.142631,NaN,28.486242,13.883032,...,12.272506,NaN,5.006206,8.189859,11.523626,11.428900,31.913869,27.824635,4.813639,4.261105
2011-09-30,7.141761,NaN,6.572171,15.308965,9.629959,NaN,20.727006,NaN,29.437612,10.709768,...,11.658881,NaN,5.004733,7.330429,12.232708,10.019336,30.382289,27.624937,4.242879,4.650491
2011-10-31,7.314042,NaN,7.663794,15.962246,10.797094,NaN,21.923397,NaN,32.703376,11.238645,...,12.565979,NaN,5.006206,7.482093,12.688843,11.238418,31.878718,28.567586,4.125977,4.737532
2011-11-30,7.825205,NaN,7.471661,14.990655,10.308676,NaN,21.221106,NaN,32.291725,10.276382,...,13.337013,NaN,5.256516,7.119785,13.194738,9.866950,30.376312,27.909874,3.530002,4.451539
2011-12-31,8.614036,NaN,7.411161,14.856913,10.926318,NaN,20.286481,NaN,33.680185,9.402265,...,13.881272,NaN,5.477378,7.785421,13.273525,9.666945,28.771801,29.682837,3.552924,4.691674
2012-01-31,8.203844,NaN,8.311088,17.044704,11.163096,NaN,22.514217,NaN,31.997101,11.488393,...,15.564739,NaN,6.169412,8.173007,14.658517,11.162226,32.600748,28.131122,3.988444,4.866550
2012-02-29,9.169373,NaN,8.689209,17.430569,11.112585,NaN,23.179977,NaN,33.199304,11.444320,...,18.009686,NaN,7.067584,8.754386,16.384956,11.095557,31.762026,29.721268,5.501302,4.806832
2012-03-31,10.069679,NaN,8.589084,16.536933,11.364094,NaN,22.315769,NaN,33.291781,10.614276,...,19.345486,NaN,8.790308,9.816035,16.809393,11.511120,31.287966,32.664483,5.501302,5.002486
2012-04-30,10.786067,NaN,8.191724,15.026623,10.921098,NaN,23.115691,NaN,32.228294,10.281736,...,20.784039,NaN,10.412573,9.742416,18.196168,10.466398,31.851104,32.479134,4.584418,5.088388
2012-05-31,10.014834,NaN,7.385113,12.781465,10.560005,NaN,20.903473,NaN,29.028584,8.632054,...,19.720398,NaN,8.744717,8.376416,17.435543,8.146921,28.105235,28.658060,4.355197,5.255137
2012-06-30,10.168113,NaN,7.926430,12.664520,10.762496,NaN,21.817503,NaN,28.210363,10.266390,...,21.383899,NaN,10.573158,9.587774,18.994614,6.057476,30.004338,29.840205,4.125977,4.943959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31,15.446066,NaN,15.588778,25.741834,18.545988,23.240718,13.001703,NaN,48.250000,31.922853,...,26.276643,36.755323,16.777502,7.501428,32.110276,4.018876,23.630969,35.897682,3.582271,11.415028
2017-01-31,16.265194,NaN,17.468879,28.509379,20.925987,22.920439,18.211140,NaN,44.460000,30.329040,...,28.613156,42.758128,17.359941,8.574430,31.036024,5.146121,29.612328,38.327824,3.233994,11.716973
2017-02-28,16.870410,NaN,17.969610,30.333026,21.399263,24.200612,20.531309,NaN,40.620000,30.133309,...,30.009588,50.750609,17.804861,9.350440,30.679504,4.832453,30.109241,37.703673,4.020104,12.504979
2017-03-31,17.248671,NaN,18.224699,31.036556,20.745223,24.691051,19.165474,NaN,38.610000,29.592718,...,29.744904,55.900855,18.565268,9.676172,34.057434,4.352148,27.413028,38.485704,3.622074,12.912511
2017-04-30,17.267584,23.96,17.960162,30.191024,21.417613,25.274504,17.808722,NaN,39.790000,31.820327,...,27.733113,60.873738,18.613805,9.888085,33.486798,4.175710,26.121453,40.082248,4.477838,13.135141
2017-05-31,17.693126,23.59,17.467678,26.225902,19.417798,24.606492,17.153792,NaN,43.320000,30.878952,...,27.477290,55.548168,19.214720,9.560410,35.593394,3.891448,25.836181,39.666931,3.671827,14.099869
2017-06-30,17.468095,23.45,18.728917,24.872686,19.876099,24.225980,18.481596,NaN,39.200000,31.876250,...,29.997621,53.238070,18.656054,9.435122,36.863058,4.508982,27.576343,38.056522,4.000202,13.135141
2017-07-31,18.269471,27.30,19.430658,26.636048,21.475606,23.211279,20.706565,NaN,36.920000,34.774938,...,31.788382,57.503977,19.654881,10.254311,35.189194,5.067704,29.763432,39.641888,5.831141,14.142581
2017-08-31,18.946825,26.55,21.014774,28.681820,23.901917,24.166935,24.115791,NaN,42.520000,35.520582,...,30.461893,61.408840,19.215654,10.871111,35.345037,6.753671,33.357866,41.449578,6.667004,15.277571
2017-09-30,20.072568,29.20,22.753338,32.679415,24.962066,24.960294,21.621673,NaN,45.670000,39.547055,...,31.532559,71.100323,19.002147,11.131324,36.240091,7.626061,30.305450,42.832928,7.801389,15.979474
2017-10-31,19.939005,27.40,22.705836,32.248684,24.711804,24.175653,21.531956,NaN,44.250000,48.802353,...,28.235285,75.600665,17.507596,11.690300,37.582673,8.635681,30.524159,43.017198,7.562571,15.933140
2017-11-30,19.614639,26.87,22.154049,28.215650,23.278440,23.434604,22.707242,NaN,38.480000,42.315256,...,30.983014,66.316372,18.415980,11.450595,33.781097,8.390628,33.414920,40.444685,7.323753,17.131120
2017-12-31,20.607041,26.90,21.973329,30.078318,24.750980,24.838239,26.638431,14.575826,36.600000,41.099100,...,32.527427,67.156601,18.711526,12.712101,36.090915,8.919943,38.692518,42.183510,7.918286,18.095819
2018-01-31,21.255853,31.05,25.156471,37.508097,29.812581,27.122415,29.022163,17.900137,35.350000,47.368942,...,34.469787,72.686624,17.668100,13.100257,39.238043,11.625333,39.836187,46.721144,8.088035,17.788092
2018-02-28,21.372430,33.63,24.712760,39.512058,28.377592,26.189317,31.693426,19.334044,29.920000,44.521628,...,35.673103,74.571256,17.974990,13.682491,36.254528,12.076231,43.296025,43.944771,7.868360,17.570432
2018-03-31,23.383381,38.20,25.744870,39.084896,28.925990,26.342313,29.207667,20.209284,22.830000,46.017187,...,33.162247,61.493857,19.053489,13.973608,34.546598,10.703932,41.027448,43.727867,8.137961,17.069322
2018-04-30,22.664491,36.40,24.497295,34.960168,27.862166,24.731355,34.187593,20.445954,24.800000,43.764262,...,34.303358,63.814945,18.667685,15.520243,29.446445,10.731166,47.306465,43.823733,8.110000,17.449815
2018-05-31,19.128325,26.51,21.079293,29.125538,23.523215,23.453389,29.947793,16.207159,21.420000,45.400000,...,25.512879,54.173515,17.891817,13.136980,24.356034,8.122213,49.211554,40.577530,6.500000,16.860957
2018-06-30,17.617683,21.33,20.020354,27.557658,21.706430,22.013426,28.101894,16.287304,18.000000,50.760000,...,22.722560,48.344307,17.389656,12.911663,22.383195,7.206618,48.200690,40.791566,5.890000,15.948228
2018-07-31,19.018866,24.13,23.290182,31.260869,24.828308,22.040425,31.322603,17.355908,22.650000,54.710000,...,24.390898,47.677710,18.793848,12.239772,19.801456,8.732610,53.303607,36.814553,7.150000,18.290969
2018-08-31,18.470151,23.00,21.302831,29.221520,23.094003,22.761515,29.870881,17.614154,20.130000,59.210000,...,23.805516,48.338866,19.144596,12.131193,20.315210,7.945001,53.620000,35.882085,5.700000,18.913514
2018-09-30,17.970428,24.05,23.084383,28.679261,23.345736,22.408190,35.639316,17.364813,21.970000,58.440000,...,23.015251,42.835443,19.049349,11.578429,18.420374,8.191129,59.820000,36.702771,5.060000,19.555804
2018-10-31,16.010730,30.59,26.182031,41.631185,27.948904,24.621115,33.226187,21.354268,21.900000,52.150000,...,27.269024,34.687397,21.201925,11.440238,21.835026,10.120770,56.710000,40.466678,5.600000,17.823011
2018-11-30,16.579043,34.74,27.819642,43.877718,31.355033,26.331948,30.553479,21.772804,22.170000,54.180000,...,27.542202,41.159273,22.099673,11.706749,23.315367,9.205175,52.800000,43.078942,5.180000,17.644781
2018-12-31,15.380000,36.00,26.654655,45.840369,32.148266,26.932935,30.466952,23.361971,21.930000,47.380000,...,30.732531,40.758855,23.600000,11.696879,26.251376,9.077188,51.000000,44.052695,4.390000,17.419181
2019-01-31,17.510000,37.11,31.287653,51.135331,37.664020,30.320296,27.605389,24.225546,23.540000,52.260000,...,42.313329,41.765869,25.720000,12.400000,28.225164,9.734143,45.500000,46.396836,6.000000,18.710226
2019-02-28,17.230000,37.65,32.600005,50.453161,36.023293,27.300000,28.282520,22.225688,20.570000,54.400000,...,38.391273,44.849256,24.960000,11.820000,26.355000,9.585303,47.100000,44.586321,4.580000,18.373079
2019-03-31,16.830000,38.27,32.120000,48.720000,35.764509,26.520000,31.305080,21.043955,22.650000,50.900000,...,40.976708,44.568948,24.800000,11.790000,23.500000,9.962364,50.930000,45.680369,4.220000,18.000000
2019-04-30,18.470000,34.00,34.450000,49.680000,35.580000,28.260000,31.305080,23.700000,31.050000,47.780000,...,47.000000,49.000000,26.250000,11.690000,21.000000,8.630000,50.100000,46.221788,4.100000,18.580000
2019-05-31,17.950000,34.60,33.900000,49.790000,35.600000,28.420000,30.290000,23.820000,30.760000,46.080000,...,46.340000,49.030000,26.450000,11.550000,21.470000,8.450000,48.940000,45.910000,4.140000,18.770000

In [ ]:
        retorno = carteira_mes.pct_change(mom)
        rank = retorno[mes].T
        rank = rank.reset_index(drop=False)
        rank.columns = ['Acao', mes]
        rank = rank.sort_values(mes, ascending=False)
    return rank